@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="~/js/site.js" asp-append-version="true"></script>


  <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/Quiz" id="start-game">Start Game</a>